<?xml version="1.0"?>
<model>
  <name>MirrorBrush</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Aravind</name>
    <email>aravindsairam98@gmail.com</email>
  </author>
  <description>
    A specialized mirror cleaning brush with soft bristles and ergonomic handle for bathroom mirror cleaning
  </description>
</model>